.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.pd10 {
    padding: 10px;
}

.pd10-0 {
    padding: 10px 0;
}

.pd20 {
    padding: 20px;
}
