/* shape */

.circle {
    border-radius: 50%;
}
.triangle{
    width: 0;
    height: 0;
    border: 10px solid transparent;
}
/* gap */

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.pd10 {
    padding: 10px;
}

.pd10-0 {
    padding: 10px 0;
}

.pd20 {
    padding: 20px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}