.fl {
    float: left;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.cf::after {
    content: '';
    clear: both;
    display: block;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

.v-m {
    vertical-align: middle;
}