.fll {
    float: left;
}

.flr {
    float: right;
}

.por {
    position: relative;
}

.poa {
    position: absolute;
}

.poa-r {
    position: absolute;
    right: 0;
}

.dfr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dfc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.dfc-100 {
    display: flex;
    flex-flow: column nowrap;
}

.fx1 {
    box-sizing: border-box;
    flex: 1;
}

.fx2 {
    box-sizing: border-box;
    flex: 2;
}

.dib {
    display: inline-block;
}

.dt {
    display: table;
}

.dg {
    display: grid;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.vam {
    vertical-align: middle;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
    float: left;
    box-sizing: border-box;
}

.col12 {
    width: 100%;
}

.col11 {
    width: 91.66666667%;
}

.col10 {
    width: 83.33333333%;
}

.col9 {
    width: 75%;
}

.col8 {
    width: 66.66666667%;
}

.col7 {
    width: 58.33333333%;
}

.col6 {
    width: 50%;
}

.col5 {
    width: 41.66666667%;
}

.col4 {
    width: 33.33333333%;
}

.col3 {
    width: 25%;
}

.col2 {
    width: 16.66666667%;
}

.col1 {
    width: 8.33333333%;
}

.bbox {
    box-sizing: border-box;
}

.ma {
    margin: auto;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}

.m0a {
    margin: 0 auto;
}

.w100 {
    width: 100%;
}

.bd {
    border: 1px solid #ccc;
}

.bdl {
    border-left: 1px solid #ccc;
}

.bdr {
    border-right: 1px solid #ccc;
}

.bdb {
    border-bottom: 1px solid #ccc;
}
