body,
ul,
table,
form {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li>a {
    display: block;
    text-decoration:none;
}

table {
    border-collapse: collapse;
}